<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo">Pizzanta</a>
            <nav class="navigation">
                <ul class="navigation-list">
                    <li><a href="../index.html">Головна</a></li>
                    <li><a href="../about.html">Про нас</a></li>
                    <li><a href="#">Меню</a></li>
                    <li><a href="../contacts.html">Контакти</a></li>

                </ul>
            </nav>

            <a href="#" class="login-button">
                Увійти
                <img class="login-icon" src="./assets/img/log in.svg">
            </a>
        </div>
    </div>
</header>